/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 * Require App.css
 *= require_self

 * Order in which to load the CSS
 //= require datepicker.css
 //= require jquery-ui.css
 //= require jquery.rateyo.css
 //= require price_slider.css
 //= require styles.css
 //= require swipebox.css
 //= require touchTouch.css
 //= require monikas
 //= require custom.css
 //= require paymentfont.min.css
 
 */

.alert-block {
	text-align: center;
	margin-top:25px;
	margin-bottom:0 !important;
}

.help-block.form-error {
  color:#a94442;
}