@charset "utf-8";

html, body {

	height: 100%;

	background-color: #eee;

}

h4.panel-title,h2.panel-title {
	font-size:16px;
}

div.panel-heading{
	padding:10px 15px;
}
div.modal.in .modal-dialog{

}

a.orange{
	color:#eb690b;
}
.white{
	color:#fff;
}


.text-blue{
	color:#00458f;
}
.uppercase{
	text-transform:uppercase;
}
.terms-label{
        padding-left:10px;
	font-size:14px;
}
@media(max-width:767px){
	div.carousel-inner .item .container{
		margin-top:16px;
	}
}

@media(max-width:767px) and (orientation : landscape){
	div.carousel-inner .item .container{
		margin-left: 30%;
		margin-right: 25%;
	}
}

@media(max-width:767px) and (orientation : portrait){
	div.carousel-inner .item .container{
		margin-left: 20%;
		margin-right: 15%;
	}
}

.col-sm-4.btn-right{
	float:right;

}
@media(max-width:767px){
	.col-sm-4.btn-right{
		float:left;
		margin-top:20px;
	}
}

.controls .carousel-indicators li{
	width:10px;
	height:10px;
	padding:2px;
	margin:1px 8px;
}



.slider1 {

	background-image: url(/images/16/sxs-tour-image-01.jpg);

	background-position: center !important;

	background-repeat: no-repeat;

}

.slider2 {

	background-image: url(/images/16/sxs-tour-image-02.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}
.slider3 {

	background-image: url(/images/16/sxs-tour-image-03.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}
.slider4 {

	background-image: url(/images/16/sxs-tour-image-04.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}
.slider5 {

	background-image: url(/images/16/sxs-tour-image-05.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}
/*
.fill{
	background-position:center right !important;
}
*/

@media(max-width:767px){
	.terms-col{
		margin-bottom: 30px;
	}
	.carousel-indicators{
		margin-right:30px;
	}

}


.walkthrough-header{
	width:100%;
	display:block;
	padding:0px 0px;
	background-color:#fff;
}
.walkthrough-body,.walkthrough-slider{
	background-color:#eee;
	display:block;
	padding-bottom:60px;
}
.terms{
	position:relative;
	top:10px;
}
/*
.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media(max-width:768px) and (min-width:500px){
#terms_conditions_modal	.terms{
		margin-left:10px;
		top:10px;
	}

}
.modal-lg{
	height:auto;
}
@media(max-width:1024px){
#terms_conditions_modal	.panel-group{
		height:600px;
		overflow:scroll;
	}
	.terms label{
		display:inline;
	}
}
@media(max-width:500px){
	.terms{
		margin-left:0px;
		top:0px;
	}
#terms_conditions_modal	.panel-group{
		height:315px;
		overflow:scroll;
	}

}

label.checkbox{
  background: #ddd;
   height: 20px;
   width: 20px;
   display: inline ;
   margin-right: 6px;
   border-radius: 3px;
   border:1px solid #ccc;
  background-color: #fff;
  position:relative;
}
*/

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 18px;
    color: #eb690b;
    }

input[type=checkbox]:checked ~ .checkbox{
  background-color:#fff;
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

#checker, #modal-checker{
 position:relative;
 display:block;
}

#checker i, #modal-checker i{
	position: absolute;
	left: 4px;
    	top: 1px;
	display:block;
	z-index:100;
	color:#eb690b;
}


.carousel-container{
	margin:30px 0px;
	background-color:#fff;
}
@media(max-width:768px){
	.carousel-container{
		margin:20px 10px;
	}
}
.controls{
	padding-bottom:20px;
}

.row-eq-height{
	display:flex;
}

.navbar-brand {
	font-size: 18px;
	line-height: 20px;
}

.navbar-logo{
	position: relative;
	text-align:center;

}

.row-eq-height{
	display: flex;
}
.language-selector{
	float:left;
	display:block;
}

.navbar-logo .logo{
	width: 195px;
	height: 60px;
	margin:10px 0px;

}
@media(max-width:767px){
	.navbar-logo .logo{
		width:169px;
		height:50px;

	}
}
.navbar-logo.hidden-xs:before, .navbar-logo:after{
	content: '';
	position: absolute;
	bottom: 0;
}



.carousel, .item, .active {

	height: 100%;

}

.carousel-inner {

	height: 100%;

}

/* Background images are set within the HTML using inline CSS, not here */



.walkthrough_lang_select_button{
	position: absolute;
	z-index: 2;
	background-color: transparent;
	border: none !important;
	outline: none !important;
	top:0px;
	left:0px;
	bottom:0px;
}

@media(max-width:768px){
	.walkthrough_lang_select_button{
		margin-left:8px;
	}
}



footer {

	margin: 50px 0;

}



/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.item h1 {

	font-size: 38px !important;

	letter-spacing: 3px;



	margin-top: 10px;

}

.fill {

	width: 100%;

	height: 55%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.item h1 {

	font-size: 28px !important;

	letter-spacing: 3px;


	margin-top: 5px;

}

.item h2 {

	margin-top: 5px !important;

	font-size: 20px;

}

}



/* Smartphones (landscape) ----------- */





@media screen and (min-device-width: 360px) and (max-device-width: 415px) {

.fill {

	width: 100%;

	height: 70%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.item h1 {

	font-size: 26px !important;

	letter-spacing: 3px;


	margin-top: 10px;

}

}



@media only screen and (min-width : 321px) {

.item h2 {

	margin-top: 8px;

}

.item h1 {

	margin-top: 10px;

}


.fill {

	width: 100%;

	height: 30%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


/* Styles */

}



/* Smartphones (portrait) ----------- */

@media only screen and (max-width : 320px) {

.item h1 {

	font-size: 26px !important;

	letter-spacing: 3px;


	margin-top: 10px;

}

.fill {

	width: 100%;

	height: 39%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}



}



/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.item h2 {

	margin-top: 15px;

}

.item h1 {

	margin-top: 15px;

}


.fill {

	width: 100%;

	height: 28%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

}



/* iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

.item h2 {

	margin-top: 15px;

}

.item h1 {

	margin-top: 15px;

}

.fill {

	width: 100%;

	height: 62%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

}



/* iPads (portrait) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

.item h2 {

	margin-top: 25px;

}

.item h1 {

	margin-top: 25px;

}

.item p {

	margin-bottom: 30px;

}

.fill {

	width: 100%;

	height: 54%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.item h2 {

margin-top: 10px;

font-size: 24px;

}

}





/**********

iPad 3

**********/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

.fill {

	width: 100%;

	height: 57%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

.fill {

	width: 100%;

	height: 70%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Desktops and laptops ----------- */

@media only screen and (min-width : 1224px) {

.fill {

	width: 100%;

	height: 65%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Large screens ----------- */

@media only screen and (min-width : 1824px) {

.fill {

	width: 100%;

	height: 67%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.carousel-inner > .item {
	height: 200px !important;
}

}



/* iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

.fill {

	width: 100%;

	height: 50%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.item h2 {

	font-size: 20px;

	letter-spacing: 3px;



	margin-top: 5px;

}

.item h1 {

	font-size: 28px;

	letter-spacing: 3px;


	margin-top: 10px;

}

}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

.item h1 {

	font-size: 26px !important;

	letter-spacing: 3px;



	margin-top: 10px !important;

}

.fill {

	width: 100%;

	height: 40%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 400px !important;
}


}



/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

.item h1 {

	/*	font-size: 38px;*/

	letter-spacing: 3px;



	margin-top: 10px;

}

.fill {

	width: 100%;

	height: 50%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 170px !important;
}


}



@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

.fill {

	width: 100%;

	height: 55%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

.fill {

	width: 100%;

	height: 50%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

.fill {

	width: 100%;

	height: 22%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 300px !important;
}


.item h1 {

	letter-spacing: 3px;



	margin-top: 10px;

}

}



/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

/* Styles */



.fill {

	width: 100%;

	/*  height: 76%;*/

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

/* Styles */

.item h3 {

	font-size: 20px;

	letter-spacing: 5px;

	margin-bottom: 0px;

	padding-bottom: 0px;

}



.item h1 {

	font-size: 45px;

	letter-spacing: 3px;


	margin-top: 10px;

}



.fill {

	width: 100%;

	height: 50%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

.fill {

	width: 100%;

	height: 36%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.item h2 {

	margin-top: 15px;

}

.item h1 {

	margin-top: 10px;

}

}



@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

.fill {

	width: 100%;

	height: 25%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 200px !important;
}


.item h2 {

	margin-top: 15px !important;

	font-size: 20px;

}

}



/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

.fill {

	width: 100%;

	height: 20%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 140px !important;
}


}



@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

.fill {

	width: 100%;

	height: 50%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

.fill {

	width: 100%;

	/*  height: 30% !important;*/

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}




.item h1 {

	font-size: 17px;

	letter-spacing: 3px;


	margin-top: 10px;

}

}



@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

.fill {

	width: 100%;

	height: 35%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

.carousel-inner > .item {
	height: 300px !important;
}



.item h1 {

	font-size: 38px;

	letter-spacing: 3px;


	margin-top: 10px;

}

.item h2 {

	margin-top: 10px;

}

}



@media(max-width:767px) {

.fill {

	width: 100%;

	/*min-height: 50%;*/

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



@media(max-width:767px) and (orientation : portrait){



.fill {

	background-size: cover;
	min-height: 50%;

}


}

@media(min-width:768px) {


.item h1 {

	font-size: 40px;

	letter-spacing: 3px;


	margin-top: 10px;

}



.fill {

	width: 100%;

	/*    height: 53%;*/

	background-position: top left;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}

}



@media(min-width:992px) {

.fill {

	width: 100%;

	height: 76%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}




.item h1 {

font-size:45px;

letter-spacing: 3px;

font-style:italic;

margin-top:10px;

}


}









@media(min-width:1200px) {

.fill {

	width: 100%;

	height: 76%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


.slider3 {

	background-image: url(/images/16/sxs-tour-image-03.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}

.slider1 {

	background-image: url(/images/16/sxs-tour-image-01.jpg);

	background-position: top;

	background-repeat: no-repeat;

}

.slider2 {

	background-image: url(/images/16/sxs-tour-image-02.jpg);

	background-position: top left;

	background-repeat: no-repeat;

}

}



/* ----------- Asus Nexus 7 ----------- */



/* Portrait and Landscape */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {

.fill {

	width: 100%;

	height: 67%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Portrait */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {



.fill {

	width: 100%;

	height: 67%;

	background-position: center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



/* Landscape */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {


.fill {

	width: 100%;

	height: 30%;

	background-position: top left;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	background-size: cover;

	-o-background-size: cover;

}


}



@media screen and (max-width: 680px) and (max-height: 400px){

	.walkthrough_text .btn {

		font-size: 12px;

	}

	.walkthrough_text .btn.margin-space {

		margin-bottom: 0px;

	}

	.walkthrough_text h2{

		margin-top: 10px !important;

		font-size: 15px;

	}

	.walkthrough_text h1{

		margin-top: 8px !important;

		font-size: 18px;

	}

	.walkthrough_text p{

		margin-bottom: 6px;

		font-size: 10px;

	}

	.walkthrough_text small{

		font-size: 60%;

	}

}