@media print {
	.navbar {
		display: none;
	}
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
.navbar-cart .navbar-toggle {
	position: relative;
	float: left !important;
	margin-right: 6px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
}

.navbar-transp {
	margin: 6px;
	opacity: 0.9;
}

.navbar-lang{
	max-height: 250px;
}
.navbar-header{
	font-size: 0;
}
.navbar-header > *{
	font-size: 14px;
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: 6px;
	padding-left: 6px;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}
.navbar-collapse .navbar-nav.navbar-right{
	font-size: 0;
}
.navbar-collapse .navbar-nav.navbar-right > *{
	font-size: 14px;
}
.navbar-collapse.in {
	overflow-y: auto;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid;
	content: "";
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: -6px;
	margin-left: -6px;
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.navbar-fixed-top {
	z-index: 1031;
}
.navbar-fixed-bottom {
	z-index: 1030;
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
	max-height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
}

.navbar-brand {
	padding-top: 8px;
	padding-right: 45px;
	float: left;
	font-size: 18px;
	line-height: 20px;
	height: 40px;
}

.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
}

.navbar-brand2 {
	width: auto;
	max-width: 60%;
	overflow: hidden;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 6px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
}
.navbar-toggle:focus {
	outline: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.navbar-nav {
	margin: 7.5px -6px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
.navbar-form {
	margin-left: -6px;
	margin-right: -6px;
	padding: 10px 6px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar-btn.btn-sm {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-btn.btn-xs {
	margin-top: 14px;
	margin-bottom: 14px;
}
.navbar-text {
	margin-top: 15px;
	margin-bottom: 15px;
}
.navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
	color: #777777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #777777;
}
.navbar-default .navbar-nav > li > a {
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #333333;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00458f;
	background-color: transparent;
	border-bottom: thin solid #CCCCCC;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	color: #00458f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888888;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #e7e7e7;
	color: #555555;
}
.navbar-default .navbar-link {
	color: #777777;
}
.navbar-default .navbar-link:hover {
	color: #333333;
}
.navbar-default .btn-link {
	color: #777777;
}
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
	color: #333333;
}
.navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus {
	color: #cccccc;
}
.navbar-inverse {
	color: #333;
	background-color: #f1f2f3;
}
.navbar-inverse .navbar-brand {
	color: #777777;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-inverse .navbar-text {
	color: #777777;
}
.navbar-inverse .navbar-nav > li > a {
	color: #777777;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
	color: #444444;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #080808;
	color: #ffffff;
}

.navbar-inverse .navbar-link {
	color: #777777;
}
.navbar-inverse .navbar-link:hover {
	color: #ffffff;
}
.navbar-inverse .btn-link {
	color: #777777;
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
	color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus {
	color: #444444;
}
.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after{
	content: " ";
	display: table;
}
.nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after{
	clear: both;
}
.shopping_basket {
	padding-top: 10px;
}

.shopping_basket.hidden-xs.hidden-sm.hidden-md ul.dropdown-menu{
	padding: 5px 0 0 0;
}



.shopping_basket.hidden-xs.hidden-sm.hidden-md ul .col-sm-16{
	max-height: 350px;
	min-height: 65px;
}

.shopping_basket.hidden-xs.hidden-sm.hidden-md ul .center-block {
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 15px;
}

.nav-sidebar .text-overflow a, .nav-sidebar .text-overflow .media-body {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}
.media, .media-body {
	overflow: hidden;
	zoom: 1;
}
.media, .media .media {
	margin-top: 15px;
}
.media:first-child {
	margin-top: 0;
}
.media-object {
	display: block;
}
.media-heading {
	margin: 0 0 5px;
}
.media > .pull-left {
	margin-right: 10px;
}
.media > .pull-right {
	margin-left: 10px;
}

@media screen and (min-width: 1200px) {
	.navbar-fixed-top {
		overflow: visible;
	}
	.navbar-text {
		float: left;
		margin-left: 6px;
		margin-right: 6px;
	}
	.navbar-text.navbar-right:last-child {
		margin-right: 0;
	}
	.navbar {
		border-radius: 4px;
	}
	.navbar-header {
		float: left;
	}
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0px;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: inline-block;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-static-top {
		border-radius: 0;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		border-radius: 0;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		color: #8c8c8c;
		padding-top: 13px;
		padding-bottom: 15px;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
	}
	.navbar-form {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-form.navbar-right:last-child {
		margin-right: -6px;
	}
}

@media screen and (max-width: 1199px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #080808;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #080808;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #777777;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
		background-color: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #080808;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #444444;
		background-color: transparent;
	}
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #f2eeee;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color: #00458f;
		color: #FFF;
		font-size: 16px;
		text-align: center;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777777;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333333;
		background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555555;
		background-color: #e7e7e7;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
	.navbar-form .form-group {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width : 767px) {
	.navbar-brand2 {
		left: 9%;
		display: block;
		padding-top: 10px;
		position: absolute;
		text-align: left;
	}
}

@media screen and (min-width:768px) {
	.navbar-brand2 {
		left: 15%;
		display: block;
		padding-top: 10px;
		position: absolute;
		text-align: left;
	}
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
		width: auto;
	}
	.navbar-form .input-group > .form-control {
		width: 100%;
	}
	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .radio, .navbar-form .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.navbar-form .radio label, .navbar-form .checkbox label {
		padding-left: 0;
	}
	.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
		position: relative;
		margin-left: 0;
	}
	.navbar-form .has-feedback .form-control-feedback {
		top: 0;
	}
}

@media screen and (max-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: 200px;
	}
}

@media (max-width: 319px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 37%;
	display: block;
	width: 140px;
	text-align: center;
}
}

@media (min-width: 320px) and (max-width: 479px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 40%;
	display: block;
	width: 140px;
	text-align: center;
}
}

@media (min-width: 480px) and (max-width: 599px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 38%;
	display: block;
	width: 120px;
	text-align: center;
}
}

@media (min-width: 600px) and (max-width: 767px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 40%;
	display: block;
	width: 130px;
	text-align: center;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 40%;
	display: block;
	width: 130px;
	text-align: center;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.navbar-brand {
	padding-top: 10px;
	position: absolute;
	left: 43%;
	display: block;
	width: 130px;
	text-align: center;
}
}
